* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

.wrapper {
	background: #eaeaea;
	height: 100vh;
}

.icon {
	display: inline-block;
}

.icon svg {
	width: 50px;
	height: 50px;
}

/* HINT: https://tympanus.net/codrops/2015/07/16/styling-svg-use-content-css/ */
.bomb {
}

.icon[data-state="do-delay"] svg {
	/* styling sparkles */
	animation: blink 750ms ease-out infinite;
}

.icon[data-state="do-explode"] svg {
	color: transparent;
	fill: red;
	opacity: 0.1;
	animation: explode 300ms ease-out;
}

@keyframes blink {
	0% {
		color: transparent;
		transform: scale(1);
	}
	35% {
		color: orange;
	}
	50% {
		color: transparent;
		transform: scale(1.02);
	}
	85% {
		color: orange;
	}
	100% {
		color: transparent;
		transform: scale(1);
	}
}

@keyframes explode {
	0% {
		transform: scale(1);
	}
	40% {
		transform: scale(1.5);
	}
	100% {
		transform: scale(1);
		opacity: 0.1;
	}
}
